.section-cta{
    position: relative;
    padding-top: 83px;
    padding-bottom: 84px;

    background-image: url("./../img/main/main-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* Tablet media */
    @media (max-width: 1199px){
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url("./../img/main/main-bg-1/cta-1199.jpg");
    }
    /* ..... // Tablet Media ....*/

    /* Mobile media */
    @media (max-width: 899px){
        background-image: url("./../img/main/main-bg-1/cta-899.jpg");
    }
    /* ..... // Mobile Media ....*/

    /* Mobile XS media */
    @media (max-width: 599px){
        background-image: url("./../img/main/main-bg-1/cta-599.jpg");
    }
    /* ..... // XS Mobile Media ....*/

    &::before{
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.35);
    }
}
.section-cta__content{
    position: relative;
    z-index: 9;
    text-align: center;
    color: #fff;
}

.section-cta__title{
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
    span{
        font-weight: 700;
    }

    /* Mobile media */
    @media (max-width: 899px){
        font-size: 20px;
        margin-bottom: 30px;
    }
    /* ..... // Mobile Media ....*/

    /* Mobile XS media */
    @media (max-width: 599px){
        font-size: 18px;
        margin-bottom: 20px;
    }
    /* ..... // XS Mobile Media ....*/
}