.package__row{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;

    padding-right: 105px;
    padding-left: 105px;

    /* Tablet media */
    @media (max-width: 1199px){
        padding-right: 0;
        padding-left: 0;
    }
    /* ..... // Tablet Media ....*/

    /* Mobile media */
    @media (max-width: 899px){
        flex-direction: column;
        align-items: center;
    }
    /* ..... // Mobile Media ....*/
}
.package{
    width: 300px;

    margin-right: 15px;
    margin-left: 15px;

    padding-top: 40px;
    padding-bottom: 40px;

    text-align: center;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    color: #fff;

    /* Tablet media */
    @media (max-width: 1199px){
        width: 270px;
    }
    /* ..... // Tablet Media ....*/

    /* Mobile media */
    @media (max-width: 899px){
        width: 300px;
        margin: 0;
        &:not(:last-child){
            margin-bottom: 30px;
        }
        
    }
    /* ..... // Mobile Media ....*/

    /* Mobile XS media */
    @media (max-width: 599px){
        width: 290px;
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }
    /* ..... // XS Mobile Media ....*/
}
.package__header{
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.package__title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;

    color: #B2B2B2;

}
.package__price{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;

}
.package__month{
    display: inline-block;
    padding: 6px 15.3px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;

    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;

    color: #FFFFFF;

}
.package__content{
    margin-bottom: 58px;
    padding-right: 15px;
    padding-left: 15px;
}

.package__list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    li:not(:last-child){
        margin-bottom: 25px;
    }
    span{
        display: inline-block;
        vertical-align: bottom;
    }
}

.package--standart{
    background-color: #304FFE;
    .package__title{
        color: #FFFFFF;
    }
}